/* box{
  text-align: center;
  border-style: solid;
  border-color: red;

  width: 5px;

} */
body{
  background-color: black;
}
.br{
  background-color: aliceblue;
}
.title{
  color:aliceblue;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.App{
  background-color: black;
}
.name{
  
  color: wheat;
}

input{
  /* text-align: left; */
  font-size: 20px;
  color: white;
  background-color: black;
  font-weight: bolder;
  text-transform: uppercase;
width: 15px;
height: 20px;
padding: 20px;
margin: 2px;
border-style: solid;
  border-color: gray;
  /* background-color: cadetblue; */
}



.g{
  background-color: rgb(5, 209, 5);
}

.y{
  background-color: rgb(202, 202, 4);
}

.b{
  background-color: gray;
}

.w{
  background-color: aliceblue;
}

Button{
  background-color: greenyellow;
  padding: 15px;
  margin: 10px;
  border-color: black;
  border-radius: 15px;
}

.msg{
  animation: example linear 3s;
  /* animation-iteration-count: 1; */

  text-transform: uppercase;
  font-size: 45px;
  color: tomato;
  font-weight: bolder;
  font-family: cursive;
  

}

@keyframes example {
  from {color: tomato;}
  to {color: black;}
}